@{
    ViewBag.Title = "Welcome to ELK stack demo application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<ul>
    <h3>
        <li>@Html.ActionLink("Register User", "Register", "User")</li>
    </h3>
</ul>
