@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Mobile</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+91 9021284186</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:deepakcrick123@yahoo.in">deepakcrick123@yahoo.in</a></span>
    </p>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:inbox.dpatil@gmail.com">inbox.dpatil@gmail.com</a></span>
    </p>
</section>

