@{
    ViewBag.Title = "Welcome to ELK stack demo application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h2>Real-time analytics and logging using ELK stack.</h2>
<ol class="round">
    <li class="one">
        <h2>What is ELK stack?</h2>
        <br>
        Elasticsearch, along with Logstash and Kibana, provides a powerful platform for indexing, searching and analyzing your data.

    <h3>ELK stack consist of :</h3>
        <br>
        1. Elasticsearch for deep search and data analytics.<br>
        2. Logstash for centralized logging, log enrichment and parsing.<br>
        3. Kibana for powerful and beautiful data visualizations.<br>
    </li>

    <li class="two">
        <h2>What you can expect from this demo app?</h2>
        <br>
        This is just a small application having one registration form (Find under below try it out section).<br>
        When you fill up the information and click register, your task is done. But here starts the real magic of ELK stack.<br>
        <br>
        Here is what happens behind the scene once you click register :<br>
        <br>
        1. I am pushing entered details in to Redis. (Redis is an in-memory but persistent on disk database. Read more <a href=" http://redis.io/" target="_blank">HERE </a>)
        <br>
        2. Logstash pulls the data from redis into elastic search.
        <br>
        3. Once data is available in elastic search for kibana query which I have aleady configured, Kibana starts showing the data into lovely and beautiful dashboard.
        <br>
    </li>

    <li class="three">
        <h2>Want to try it out?</h2>
        <br>
        <h3>
            <li>@Html.ActionLink("Click me", "Register", "User")</li>
        </h3>
    </li>
</ol>
